.vertically-centered {
	margin-top: auto;
	margin-bottom: auto;
}

.horizontally-centered {
	margin-left: auto;
	margin-right: auto;
}

.centered {
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}

body {
	background-color: rgb(25, 25, 25);
	color: #FFFFFF;
}

html {
	scroll-behavior: smooth;
}

@font-face {
	font-family: 'BootstrapIcons';
	src: url('../assets/fonts/bootstrap-icons.woff') format('woff');
}

.bootstrap-icon {
	font-family: 'BootstrapIcons';
}