#navbar {
	background-color: rgba(116, 117, 113, 0.5);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
}

#navbar > div {
	padding-left: 35px;
	padding-right: 35px;
}

@media (min-width: 992px) {
	#navbar > div {
		padding-left: 100px;
		padding-right: 100px;
	}
}

.brand-image-anchor {
	margin-left: 50px;
}

.right-navbar-buttons {
	margin-right: 50px;
}

#navbarSupportedContent {
	margin-left: 100px;
}

@media (max-width: 991px) {
	#navbarSupportedContent {
		margin-left: -20px !important;
	}
}

/* This weird selector is for the list items in the ul that is inside the navbar. */
ul, .navbar-nav li {
	margin-left: 10px;
	margin-right: 10px;
}

/* This weird selector is for the anchor tags in the ul that is inside the navbar. */
ul, .navbar-nav a {
	font-size: 20px;
}

/* This weird selector is for the anchor tags in the ul that is inside the navbar. */
ul, .navbar-nav a:hover {
	color: #DDDDDD;
}

#purchase > p {
	font-size: 20px;
	margin: 0;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}
