.brand-image-anchor {
	margin-left: 50px;
}

.right-navbar-button {
	margin-right: 50px;
}

:root {
	--scrollbar-width: 15px;
}

#heroCarousel {
	width: calc(100vw - var(--scrollbar-width)) !important;
	height: 100vh !important;
}

.carousel-item > .overlay-above-image {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.carousel-item > .overlay-above-image > img {
	width: 95%;
	height: 95%;
}

@media (max-width: 1000px) {
	.carousel-item > .overlay-above-image > img {
		width: 140%;
		height: 140%;
	}
}

#heroCarousel .carousel-item > img {
	object-fit: cover !important;
}

#features .col, .d-flex {
	gap: 20px;
}

.features-icon {
	margin: 8px;
}

#featuresToPricingSeparator {
	margin-top: -80px; margin-bottom: 80px;
}

#explanationToFeaturesSeparator {
	margin-top: -80px;
}

.dark-mode-pricing-card {
	background-color: #333;
	color: #fff;
}

.dark-mode-pricing-card .card-header {
	background-color: #555;
}

#pricing li > p {
	text-wrap: pretty;
}

#pricing li {
	width: 100%;
}

#heroCarousel .carousel-item {
	margin-bottom: 30px;
}